@font-face {
	font-family: "Gilroy";
	src: url("../fonts/web/gilroyextrabold.woff2") format("woff2"),
		 url("../fonts/web/gilroyextrabold.woff") format("woff");
	font-weight: 800;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/web/gilroylight.woff2") format("woff2"),
		 url("../fonts/web/gilroylight.woff") format("woff");
	font-weight: 300;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/web/opensans.woff2") format("woff2"),
		 url("../fonts/web/opensans.woff") format("woff");
	font-weight: 400;
		 
}


@font-face {
	font-family: "Open Sans";
	src: url("../fonts/web/opensanslight.woff2") format("woff2"),
		 url("../fonts/web/opensanslight.woff") format("woff");
	font-weight: 300;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	color: #000000;
	
	background-color: rgb(255, 255, 255);
}

a {
	text-decoration: none;
	color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.page-title {
	font-size: 47px;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: 0.17px;
}

.section-title {
	font-size: 47px;
	line-height: 1.02em;
	letter-spacing: 0.01em;
}

.item-title {
	font-weight: 400;
	letter-spacing: 0.18px;
}


.main-header {
	background-color: #f8e296;
}



.interactive-exception:hover,
.interactive-exception:focus,
.interactive a:hover,
.interactive a:focus, 
.interactive label:hover,
.interactive label:focus {
	opacity: 0.6;
}

.interactive-exception:active,
.interactive a:active {
	opacity: 0.3;
}

.user-nav {
	color: #000000;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.15px;
}

.no-markers {
	list-style-type: none;

	margin-left: 0;
	padding-left: 0;
}

.main-nav-options a,
.catalog {	
	font-weight: 800;
}

.user {
	color: #000000;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.15px;
}

.main-navigation {
	color: #000000;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3.6px;
}

.sub-menu {
	color: #000000;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.15px;
	text-transform: none;
}


.about-us p,
.contacts p {
	color: #464646;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 1,02em;
	letter-spacing: 0,01em;
}

.button {
	font-family: "Gilroy";
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 2.15px;

	background-color: #f0c52e;
}

.page-footer {
	background-color: #464646;
}

.footer-adress, 
.tel {
	color: #ffffff;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	font-style: normal;
}

.user-footer {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 0.15px;
}

.footer-navigation-items a {
	color: #ffffff;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3.6px;
}

.footer-navigation-items a:hover,
 .footer-navigation-items a:focus {
	opacity: 0.6;
}

.footer-navigation-items a:active {
	opacity: 0.3;
}

.footer-user-navigation a {
	opacity: 0.7;
	color: #ffffff;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.15px;
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
	opacity: 1;
}

.footer-user-navigation a:active {
	opacity: 0.3;
}

.contact-form {
	display: none;
}

.filter {
	background-color: #efefef;
}

.filter-color,
.filter-bluetooth {
	color: #000000;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 40px;
	letter-spacing: 0.14px;
}

.breadcrumbs a,
.breadcrumbs-current {
	opacity: 0.3;
	color: #000000;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.14px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	opacity: 0.6;
}

.breadcrumbs a:active {
	opacity: 0.1;
}

.price {
	color: #464646;
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.16px;
}